/* @media (min-width: 2000px) and (max-width: 10000px) {
  .sidebar-default {
    position: absolute !important;
    top: 0;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
  }

  body {
    max-width: 2100px !important;
    margin: auto !important;
  }
} */
/** *************************************************************** 
OVERALL LAYOUT
*************************************************************** **/
body {
  /* overflow-x: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: 'Work Sans', sans-serif ; */
  font-size: 13px;
}
body::-webkit-scrollbar {
  display: none;
}
.system-container {
  position: relative !important;
  height: auto !important;
}
.overflow-x {
  overflow-x: hidden ;
}
/* .overflow-x {
  overflow-x: hidden !important;
} */
main.container:not(.web) {
  position: absolute !important;
  padding: 0 !important;
  top: 0;
  right: 0;
  /* left: 232px !important; */
  padding-left: 232px !important;
  padding-right: 0px !important;
  transition: all 0.5s ease !important;
  max-width: 6500px !important;
  /* max-width: 2500px !important; */
  height: auto !important;
}
.main-container {
  /* max-width: 1300px !important; */
  max-width: 1400px !important;
  /* margin: auto !important; */
}
.sidebar-default {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 232px;
  min-width: 232px;
  height: 100%;
  /* overflow-y: hidden; */
  color: #000;
  transition: all 0.5s ease !important;
  z-index: 1000;
  background-color: #fafafa !important;
  border-right: 1px solid hsla(0, 0%, 0%, 0.1) !important;
  /* max-height: calc(100vh - 56px); Adjust the value to account for any header or navbar height */
  overflow-y: auto;
}

/* Customize the scrollbar width */
.sidebar-default::-webkit-scrollbar {
  width: 6px;
}

.sidebar-default::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar-default::-webkit-scrollbar-thumb {
  background-color: #c8c5c5;
}

.sidebar-default::-webkit-scrollbar-thumb:hover {
  background-color: #aca7a7;
}
.navbar {
  height: 49px;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  --bs-navbar-padding-x: 0 !important;
  --bs-navbar-padding-y: 0 !important;
}

.navbar-nav {
  /* height: 100%; */
  padding-bottom: 120px;
}
.navbar-nav::-webkit-scrollbar {
  scroll-behavior: smooth;
}
.navbar-container {
  height: 49px;
}

.small-modal .modal-dialog {
  max-width: 400px !important;
}
.login-container{
  /* max-width: 500px; */
  max-width: 400px;
}
.a-tag-disable{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.a-tag-disable:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.a-tag-disable1{
  text-decoration: none;
  color: rgba(0, 0, 0);
}
.a-tag-disable1:hover{
  text-decoration: none;
  color: rgba(0, 0, 0);
}
.a-tag{

}

@media (max-width: 997.98px) {
  .sidebar-default {
    width: 100%;
  }
  .sidebar-default.open {
    left: 0 !important;
  }
  .sidebar-default.closed {
    left: -232px !important;
  }
  /* main.container:not(.web) {
    padding-left: 250px;
    padding-top: 0px;
    max-width: 100%;
    filter: blur(8px);
  } */
  main.container:not(.web) {
    left: 232px !important;
    max-width: 100% !important;
    /* transform: translateX(232px) !important; */
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  main.default-close:not(.web) {
    /* transform: translateX(0px) !important; */
    left: 0 !important;
    transition: all 0.5s ease !important;
  }
  main.container:not(.web)::-webkit-scrollbar {
    display: none;
  }
  body {
    padding-bottom: 90px;
  }
  .switch-content {
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 220px !important;
  }
}
.filter-panel {
  /* display: block;
  position: relative; */
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.5s, transform 0.5s;
}
.filter-panel.open {
  /* height: auto !important; */
  opacity: 1;
  transform: scaleY(1);
}
.filter-panel.f-close {
  position: fixed !important;
  /* display: none ;  */
  /* height: 0 !important; */
}
@media (max-width: 767.98px) {
  .text-truncate-mobile{
    /* overflow: visible;
    text-overflow: ellipsis; */
    white-space: normal !important; 
  }
  .scrollmenu::-webkit-scrollbar,
  .nav-tabs::-webkit-scrollbar {
    width: 0 !important;
  }

  div.scrollmenu,
  .nav-tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow: auto !important;
    white-space: nowrap !important;
  }
  div.scrollmenu div {
    display: inline-block !important;
    text-align: center !important;
    padding: 0px 7px;
    -webkit-overflow-scrolling: touch !important;
  }
  .nav-link {
    display: inline-block !important;
    text-align: center !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
@media (max-width: 575.98px) {
  .hide-xs {
    display: none !important;
  }
  .filter-panel {
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0px 5px !important;
    transition: all 0.7s ease !important;
    background-color: rgb(240, 240, 240) !important;
    z-index: 10;
  }
  .filter-panel.open {
    bottom: 0% !important;
    transition: all 0.7s ease !important;
  }
  .filter-panel.f-close {
    bottom: -100% !important;
    transition: all 0.7s ease !important;
  }
  .language-dropdown-content {
    top: 100% !important;
    right: 0% !important ;
    transform: translateX(50%) !important;
  }
}
table {
  max-width: 100%;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

/* tr:nth-child(odd) {
  background-color: rgba(138, 43, 43, 0.968);
} */

tr:nth-child(even) {
  background-color: #ffffff !important;
}

tr:nth-child(odd) {
  background-color: rgba(248, 248, 248, 0.7) !important;
}
tr:hover {
  cursor: pointer;
}

ul li:hover {
  background-color: rgba(140, 140, 140, 0.12);
}
.nav-tabs .nav-link {
  border: 0 !important;
  border-radius: 0 !important;
}
.nav-tabs .nav-link {
  border: none;
  color: #393F50 !important;
  padding: 0px 10px !important;
  font-weight: 600 !important;
}

.nav-tabs .active {
  background-color: transparent !important;
  color: #f26726 !important;
}
.nav-tabs {
  background: #eeeff0 !important;
  height: 44px;
}
.nav-item {
  display: flex !important;
  align-items: center !important;
}

.nav-item:nth-child(3) .nav-link {
  /* background: #0068cf !important; */
  background: #eeeff0 !important;
  color: #d8deeb !important;
  font-size: 26px;
  font-weight: 300 !important;
  display: none !important;
}
.nav-item:nth-child(4) .nav-link {
  display: none !important;
}
.nav-item:nth-child(5) .nav-link {
  display: none !important;
}
.nav-item:nth-child(6) .nav-link {
  display: none !important;
}
.nav-item:nth-child(7) .nav-link {
  display: none !important;
}
/* .nav-item:nth-child(3) .nav-link:hover,
.nav-item:nth-child(3) .nav-link:active {
  background: #eeeff0 !important;
  cursor: auto;
} */
ul li:nth-child(3):hover {
  background-color: #eeeff0 !important;
}
.nav-item:nth-child(3) .nav-link:hover,
.nav-item:nth-child(3) .nav-link:active {
  background: #eeeff0 !important;
  cursor: auto;
}
.page-heading,
.card-title {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.page-heading-sub {
  margin-bottom: 10px;
}
.active-link {
  color: #f26929 !important;
  background-color: #faece5 !important;
}
.active-link:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
}

@media (max-width: 991.98px) {
  .page-heading-sub {
    display: none;
  }
}

/** *************************************************************** 
INPUTS AND FORM CONTROLS
*************************************************************** **/
.btn,
.form-control,
select {
  font-size: 13px !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;

  text-overflow:ellipsis;

}
.form-control{
  border: 2px solid rgba(0, 0, 0, 0.1);
}
/* .btn{
  border: 2px solid transparent !important;
} */

.btn:focus,
.form-control:focus,
select:focus,
.border-warning {
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
}


.btn {
  /* padding: 7px 30px;
  font-weight: 500; */
  padding: 6px 20px;
  font-weight: 400;
}

.btn.smaller-font {
  font-size: 12px !important;
}

.btn:hover,
.btn:focus,
.btn:active {
  opacity: 0.9;
}
.btn-dark:hover,
.btn-dark:focus {
  background: rgba(0, 0, 0, 0.8) !important;
}

.btn-system-white {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.btn-system-white:hover,
.btn-system-white:focus {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.system-dark-2{
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.btn-system-primary {
  background-color: #f26726 !important;
  color: white !important;
}

.btn-system-light {
  background-color: #ebebeb;
  color: #000 !important;
}

.btn-system-secondary {
  background-color: rgba(48, 48, 48, 0.2) !important;
}

.notice-input {
  padding-bottom: 10px;
  padding-top: 10px;
}

.system-input-shadow {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}


.system-control,
.system-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.system-form-control:focus {
  outline: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: #fafafa;
}

textarea.resize-none {
  resize: none;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 13px !important;
}

#option-button {
  background-color: transparent !important;
}

.form-switch .form-check-input {
  width: 2rem;
  height: 1rem;
  border-radius: 0.75rem;
  border-color: rgba(242, 103, 38, 0.6) !important;
}

.form-switch .form-check-input:focus {
  border-color: rgba(242, 103, 38, 0.6) !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
/* .notice-type .form-check .check-button {
  accent-color: #f26726;
  width: 16px;
  height: 16px;
  border: 1px solid  rgba(242, 103, 38, 0.6) !important;
} */
.mt-tpp{
  margin-top: 2px !important;
}
.notice-list-content{
  max-height: 500px;
  overflow-y: auto;
}

.form-switch .form-check-input:checked {
  background-color: #f26726;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
select option:disabled {
  color: gray !important;
}

/** Search Boxes **/
.search-box {
  position: relative;
  max-width: 300px;
  width: 100%;
  float: right;
}
.search-box-side {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.search-box input[type='search'] {
  height: 36px;
  padding: 7px 7px 7px 35px !important;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.search-icon {
  position: absolute;
  left: 12px;
  top: 10px;
}
.search-arrow {
  position: absolute;
  right: 7px;
  top: 16px;
  width: 20px;
  height: 5px;
}

.search-box .header-option {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1px;
  top: 1px;
  border: none !important;
  width: auto;
  height: 34px;
  background: none;
  border-right: 0px;
  padding-right: 30px !important;
  padding-left: 10px !important;
}

.search-box .header-option:hover {
  background-color: rgba(140, 140, 140, 0.15);
}

.form-control,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.system-search {
  padding-right: 100px;
}

#header-search {
  padding-left: 35px !important;
  padding-right: 85px !important;
}
#sidebar-search{
  padding-left: 35px !important;
  padding-right: 15px !important;
}

.search-dropdown:hover {
  background-color: rgba(140, 140, 140, 0.15) !important;
}

.caption-search {
  max-width: 130px !important;
}

.caption-search::placeholder {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.system-search-control:focus {
  outline: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
@media (max-width: 991.98px) {
  .search-box {
    max-width: none;
  }
  #header-search {
    padding-right: 25px !important;
  }
}

/** *************************************************************** 
COLOURS
*************************************************************** **/

.system-primary {
  background: #f26726;
}

.system-primary:hover,
.system-primary:focus {
  background: rgba(242, 103, 38, 0.9) !important;
  outline: none;
  border: none;
}

.system-black-80 {
  color: rgba(0, 0, 0, 0.8) !important;
}

.system-primary-light {
  background: rgba(242, 103, 38, 0.9);
}

.system-primary-light:hover {
  background: rgba(242, 103, 38, 0.8) !important;
}

.system-outline-primary {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-image: none;
  border-color: #f26726;
}
.system-outline-primary2 {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-image: none;
  border-color: #f26726;
  font-size: 13px !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
  width:180px
}

.btn{
  border: 2px solid transparent;
}

.system-outline-primary:hover,
.system-outline-primary:focus {
  background-color: #f26726 !important;
  /* border: 1px solid rgba(242, 103, 38, 0.7) !important;
  outline: none; */
  color: rgba(255, 255, 255, 1) !important;
}

.system-text-primary {
  color: #f26726;
}

.system-text-success {
  color: #05ce78;
}

.system-secondary {
  background: rgba(143, 143, 143, 0.8);
}

.system-secondary {
  background: rgba(143, 143, 143, 0.8);
}

.system-secondary:hover,
.system-secondary:focus {
  background: rgba(143, 143, 143, 0.6) !important;
}

.system-secondary-thin {
  background: rgba(0, 0, 0, 0.1) !important;
}

.system-thin-black {
  background: rgba(0, 0, 0, 0.04);
}

.system-secondary-thin:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.system-secondary-light-thin {
  background: rgba(235, 235, 235, 0.5) !important;
}

.system-secondary-light-thin:hover,
.system-secondary-light-thin:focus {
  background: rgba(235, 235, 235, 0.9) !important;
}

.system-secondary-light:hover,
.system-secondary-light:focus {
  background: rgba(235, 235, 235, 0.4) !important;
}

.system-success {
  background: rgba(5, 206, 120, 1);
}

.system-success-dark {
  color: #05ce78;
}

.system-success-light {
  background-color: rgba(5, 206, 120, 0.1);
}

.system-success:hover,
.system-success:focus {
  background: rgba(5, 206, 120, 0.8) !important;
}

.system-light {
  background: #fafafa;
}

.system-secondary-2 {
  background-color: #f8f8f8;
}

.system-secondary-3 {
  background-color: #e6e6e6;
}

.system-warning-light {
  background-color: #fff7ed;
}

.system-warning-dark {
  background-color: #f8ebdb;
}

.system-danger-light-1 {
  background-color: rgba(242, 103, 38, 0.1);
}

.system-text-dark {
  color: #242323;
}

.system-text-brown {
  color: #545454;
}

.system-text-dark-light {
  background: rgba(0, 0, 0, 0.12);
}

.system-filter-secondary {
  background-color: rgba(217, 217, 217, 0.4);
}
.system-grey {
  background-color: rgba(230, 230, 230, 0.8);
}

.system-danger-light {
  background-color: rgba(255, 0, 0, 0.1);
}

.system-outline-secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.system-icon-secondary {
  color: rgba(0, 0, 0, 0.55);
}

.system-border-secondary {
  color: #e4e4e4;
}
.system-border-warning {
  border-color: rgba(242, 103, 38, 0.5) !important;
}

.system-danger {
  color: #ed6060;
}

.system-text-blue {
  color: #44455c;
}

.system-text-blue-light {
  color: #393f50;
}

.system-text-blue-two {
  color: #5e6473;
}

.system-text-blue-two:hover,
.system-text-blue-two:focus {
  color: #5e6473;
}

.system-text-dark-80 {
  color: rgba(3, 3, 3, 0.8);
}

.system-muted-5 {
  color: rgba(0, 0, 0, 0.5);
}

.system-muted {
  color: rgba(0, 0, 0, 0.3);
}
.system-muted1 {
  color: rgba(0, 0, 0, 0.4);
}
.system-muted-2{
   color:  rgba(0, 0, 0, 0.6);
}

.system-muted-dark {
  color: #585858;
}

.system-icon-secondary:hover,
.system-icon-secondary:hover {
  color: rgba(0, 0, 0, 0.55);
}

.system-view-secondary {
  background: #ebebeb;
}

.system-view-secondary:hover {
  background: rgba(235, 235, 235, 0.6);
}

/** *************************************************************** 
UTILITY CLASSES
*************************************************************** **/
.b-line{
  align-self: flex-start !important;
  
}

.pointer,
li {
  cursor: pointer !important;
}
.move {
  cursor: move !important;
}
.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bottom-fixed {
  position: fixed;
  bottom: 30px;
  width: 100%;
}

.inner-shadow {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.03) !important;
  background: #fafafa;
}
.inner-shadow-default {
  background: #fafafa !important;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05) !important; */
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05) !important;
}
.inner-shadow-default:focus {
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
}
.mt-n10 {
  margin-top: -10px;
}
.filter-content {
  width: 57%;
}
.opac {
  opacity: 0.7;
}

@media (max-width: 991.98px) {
  .mt-n10 {
    margin-top: 0px;
  }
  .filter-content {
    width: 83% !important;
  }
  .dashboard-card {
    max-width: 800px !important;
  }
}
@media (max-width: 575.98px) {
  .filter-content {
    width: 83% !important;
    padding: 0px 0px 0px 10px !important;
  }
 
}

/** *************************************************************** 
FONTS
*************************************************************** **/
.font-50 {
  font-size: 8px;
}

.font-60 {
  font-size: 9px;
}

.font-70 {
  font-size: 10px;
}

.font-80 {
  font-size: 11px;
}

.font-90 {
  font-size: 12px;
}
.font-100 {
  font-size: 13px;
}

.font-110 {
  font-size: 14px;
}

.font-120 {
  font-size: 15px;
}

.font-130 {
  font-size: 16px;
}

.font-140 {
  font-size: 17px;
}

.font-150 {
  font-size: 18px;
}

.font-160 {
  font-size: 19px;
}

.font-170 {
  font-size: 20px;
}
.font-180 {
  font-size: 22px;
}

.font-210 {
  font-size: 23px;
}
.font-220 {
  font-size: 24px;
}

.font-thin {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-bolder {
  font-weight: 700;
}

.line-height-2{
  line-height: 23px;
}

/** *************************************************************** 
OTHERS
*************************************************************** **/
.display-error {
  font-size: 12px !important;
  color: #dc3545 !important;
  margin: 0;
  width: 100%;
  text-align: center !important;
}

.login-profile-box {
  /* position: absolute; */
  width: 34px;
  height: 34px;
  background: #e6e6e6;
  border-radius: 4px;
  padding: 0 !important;
}
.sidebar-profile-box{
width: 24px;
height: 24px;
}
.login-page header,
.login-page sidebar {
  display: none;
}
.bottom-container {
  position: fixed;
  bottom: 35px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .bottom-container {
    position: relative;
    bottom: 0;
    margin-top: 100px;
  }
}
.toggle {
  cursor: pointer;
}

.profile-container {
  max-width: 1013px !important;
  border-radius:8px;
}
@media only screen and (min-width: 1400px) {
  /* .profile-container {
    max-width: 75% !important;
  } */
}

@media only screen and (min-width: 1200px) {
  .side-width {
    max-width: 250px;
  }
  .side-width1 {
    max-width: 180px;
  }
}

@media only screen and (min-width: 1800px) {
  .profile-container {
    max-width: 80% !important;
  }
}
.card:hover {
  /* cursor: pointer; */
}

.dashboard-card {
  min-height: 170px;
  min-width: 165px;
  max-width: 220px;
  /* min-width: 220px; */
}

.dashboard-card:hover {
  cursor: pointer;
  background-color: #fff8ea;
}

.revenue-card {
  min-height: 117px;
}
.switch-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  height: 49px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.switch-container {
  /* height: 34px !important; */
  height: 49px !important;
  /* border: 1px solid #fafafa; */
}

/* .switch-container:hover {
  border: 1px solid rgba(242, 103, 38, 0.4) !important;
} */

.switch-content {
  position: absolute !important;
  top: 110% !important;
  left: 56%;
  transform: translateX(-56%);
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  /* width: 250px; */
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.switch-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.switch-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}
.li-disabled {
  pointer-events: none !important;
}
.switch-ratio {
  width: 24px !important;
  aspect-ratio: 1 !important;
}
.user-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  height: 49px !important;
}
.user-dropdown-content {
  position: absolute !important;
  top: 100% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: 255px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.user-dropdown-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.user-dropdown-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}
.language-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  /* height: 49px !important; */
}
.language-dropdown-content {
  position: absolute !important;
  top: 100% !important;
  right: 0%;
  transform: translateX(0%);
  margin: 0;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  width: 255px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}
.profile-More-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
}
.profile-More-content {
  position: absolute !important;
  top: 60% !important;
  right: 0% !important;
  transform: translateX(10%);
  margin: 0;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #ffffff;
  width: 155px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}
.profile-More-content li {
  height: 35px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px !important;
  margin-bottom: 5px;
}
.profile-More-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}

.mobile-dropdown {
  position: relative !important;
  display: flex;
  align-items: center !important;
  height: 49px !important;
}
.mobile-dropdown-content {
  position: absolute !important;
  top: 100% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: 255px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.mobile-dropdown-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.mobile-dropdown-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}

.option-content {
  padding: 15px;
  position: absolute !important;
  top: 110% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
@media (max-width: 575.98px) {
  .option-content {
    transform: translateX(18%) !important;
    width: 255px;
  }
}
.list-style-none{
  list-style: none !important;

}
.option-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}

.image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.header-user-image {
  width: 31px !important;
  height: 31px !important;
  object-fit: cover !important;
}

.header-notification-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.dashboard-product-icon {
  width: auto !important;
  height: 36px !important;
}

.logo-container {
  width: 100%;
  height: 67px;
  background-color: #fafafa !important;
}

.table-img {
  height: 52px !important;
  /* height: auto !important; */
  aspect-ratio: 1 !important;
  -webkit-aspect-ratio: 1 !important;
}
.table-image {
  /* max-width: 32px !important; */
  /* height: 52px !important;
  aspect-ratio: 1 !important; */
}
/* .image-t {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
} */
.image-size {
  width: 52px !important;
  height: 52px !important;
}

.main-profile-container {
  width: 114px !important;
  aspect-ratio: 1 !important;
}

.cam-container {
  padding: 4px;
  margin-top: 20px !important;
  margin-right: 5px !important;
  width: 34px !important;
  aspect-ratio: 1 !important;
}

.profile-photo-container {
  width: 133px !important;
  aspect-ratio: 1 !important;
  border: 2px solid #ffffff;
}

.upload-image-container {
  width: 132px !important;
  aspect-ratio: 132/110 !important;
  border: 2px solid #ffffff;
}

.vedio-icon-position {
  position: absolute !important;
  top: 45px !important;
  left: 55px !important;
}

.delete-photo-container {
  width: 57px !important;
  aspect-ratio: 57/45 !important;
}

.decoration-img-container {
  width: 103px !important;
  padding: 9px !important;
  aspect-ratio: 103/111 !important;
}
.collection-img-container {
  width: 148px !important;
  padding: 9px !important;
  aspect-ratio: 148/161 !important;
}

.header-background-container {
  max-width: 466px !important;
  aspect-ratio: 466/111 !important;
}

.page-background-container {
  max-width: 212px !important;
  aspect-ratio: 212/175 !important;
}

.group-add-container {
  width: 114px !important;
  aspect-ratio: 1 !important;
}

.group-notice-image-container {
  width: 163px !important;
  aspect-ratio: 163/142 !important;
}
.page-manager-container {
  width: 45px !important;
  aspect-ratio: 1 !important;
}

.group-photo-container {
  width: 132px !important;
  aspect-ratio: 132/110 !important;
}

.single-notice-img-container {
  width: 180px !important;
  aspect-ratio: 180/221 !important;
}
/* // */

.inpage-sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #393f50;
  font-size: 13px;
  text-decoration: none;
}
.modal-footer{
  border-top: none !important;
}
.my-modal-footer {
  display: flex;
  justify-content: flex-start;
}

.my-modal-footer button {
  background-color: #f26726;
  border: none !important;
}
.my-modal-footer button:hover {
  background-color: rgba(242, 103, 38, 0.9);
  color: white;
  cursor: pointer;
}

.modal-header .close {
  color: red !important;
  background-color: blue;
}
.toast-container {
  /* position: absolute; */
  right: 20px;
}

input[type='text'] {
  font-size: 13px !important;
}

.my-footer-button {
  border: none;
}

.custom-close-button {
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.avoid-overflow-two-lines {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-truncate-mobile{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

@media only screen and (min-width: 1601px) {
  .col-30 {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 220px !important;
  }
  .overflow-x {
    overflow-x: visible !important;
   }
   .page-heading-divider {
     margin-left: -250px !important;
     margin-right: -3000px !important;
   }
}
@media only screen and (max-width: 1600px) and (min-width: 1199.98px) {
  .col-20 {
    width: calc(100% / 5) !important;
    max-width: 220px !important;
  }
 
}
@media only screen and (min-width: 1801px) {
  /* Styles for screens larger than 1600px */
  /* Add your styles here */
  .page-heading-container{
    display: block !important;
  }
  .page-header{
    margin-bottom: 15px;
  }
  .ms-a20{
  margin-left: 20px;
    }

}

.switch-providers {
  max-width: 134px;
}

.caption {
  max-width: 124px;
}

.hr-width,
.page-heading-divider {
  margin-left: -250px !important;
  margin-right: -200px ;
}
/* .hr-width{
  margin-left: -250px !important;
  margin-right: -200px !important;
}
.page-heading-divider {
  margin-left: -250px !important;
  margin-right: -200px !important;
} */
/* .page-heading-divider {
  margin-left: -250px !important;
  margin-right: -3000px !important;
} */

.hr-width-form {
  margin-left: -25px;
  margin-right: -25px;
}

.hr-width-form2 {
  margin-left: -25px;
  margin-right: -50px;
}

.hr-width-form3 {
  margin-left: -17px;
  margin-right: -17px;
}
.fa-eye {
  opacity: 0.7;
}
.password-container {
  position: relative !important;
}
/* Position the eye icon absolute */
.input-group-eye {
  position: absolute;
  right: 13px;
  top: 10px;
  background-color: transparent !important;
  border: none !important;
  z-index: 2000;
  cursor: pointer;
}
.input-group-eye:focus {
  background-color: #ffffff !important;
}
.check-button {
  accent-color: #f26726;
  width: 16px;
  height: 16px;
}
hr {
  color: rgba(0, 0, 0, 0.4) !important;
}
/* loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #05ce78; */
}

.loader {
  /* width: 35px;
  height: 9px; */
   width: 80px;
  height: 7px;
  background-color: #d0d0d0;
  position: relative;
  animation: loader 1s ease-in-out infinite;
  border-radius: 4px;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  width: 17px;
  height: 7px;
  background-color: #707070;
  animation: loader-before 0.7s ease-in infinite;
  border-radius: 4px;
}
.loader-margin {
  margin: 6px 0;
}

@keyframes loader-before {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
.a-underline{
text-decoration: none!important;
}
.a-tag:hover{
color: #f26929;
}

.route-content{
  margin-top: 12px;
  margin-bottom: 46px;
}
/* .overflow-xxx{
  overflow-y: scroll !important;
  max-height: 200px;
} */
.overflow-xx{
  overflow-y: scroll !important;
  max-height: 300px;
}
.inline-input{
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /* border-bottom: 1px dashed #21202043 !important; */
 
}
.inline-input2{
  border: none;
  width: 100%;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
  overflow: hidden; 
  /* border-bottom: 1px dashed #21202043 !important; */
 
}
.no-scrollbar {
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
  }
}
pre{
  border: none;
  width: 100%;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
  white-space: pre-wrap;
    word-wrap: break-word;
 
}

.shimmer-container {
  display: flex;
  align-items: center;

}

.shimmer-text {
  position: relative;
  overflow: hidden;
  border-radius: 5px;

}

.shimmer-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.2) 50%, transparent 100%);
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



/* 
.shimmer-text:first-chil {
  max-width: 600px !important;
}
.shimmer-text:nth-child(2) {
  max-width: 500px;
}
.shimmer-text:nth-child(3)  {
  max-width: 400px;
}
.shimmer-text:last-child {
  max-width: 300px;
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay-container {
  position: relative; /* Add this to make the overlay-container a positioned container */
}
.overlay-content {
  text-align: center;
}

/*-----------------------Auto Multi Fill Start---------------------*/
.suggestion-autocomplete {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 4px;
  overflow-x: scroll;
}
.input-container::-webkit-scrollbar {
 display: none;
}

.selected-option {
  background-color: inherit;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.selected-option {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 4px;
}
.suggestion-autocomplete .selected-option{
  border: none !important;
} 

.remove-option {
  margin-left: 5px;
  border: none;
  background: transparent;
  color: red;
  cursor: pointer;
}

.form-control-multi {
  border: none;
  flex: 1;
  padding: 4px;
  outline: none;
}
/*----------------------Auto Multi Fill End----------------------*/
.suggestion-autocomplete {
  position: relative;
}
.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0,0.1);
  z-index: 1;
  border-radius: 4px;
  /* max-height: 200px;  */
  overflow-y: auto;
}

.suggestion-options {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

.suggestion-option {
  padding: 8px;
  cursor: pointer;
}

.suggestion-option:hover {
  background-color: #f0f0f0;
}

.suggestion-option.selected {
  background-color: #ccc;
}
.selected-options{
  display: flex;
  gap: 5px;
  /* overflow-x: scroll; */
}
.selected-option {
  /* border: 2px solid blue; */
}

.default-option {
  border: 2px solid gray;
}

.selected-option {
  border: 2px solid  #f26726;; /* Change this to the desired border style for the selected option */
}
/* -------------------------------------------------Skeleton.css ------------------------------------------------------------------*/
.shimmer-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}
.shimmer-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  animation: shimmer-animation 2s infinite;
}
.shimmer-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shimmer-text {
  width: 100%;
  height: 16px; /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  animation: shimmer-animation 2s infinite;
}
.shimmer-text.short {
  width: 60%;
}
.shimmer-button {
  min-width: 65px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
}
.shimmer-button1{
  min-width: 80px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
}
.shimmer-effect {
  background: linear-gradient(-90deg, #f0f0f0 25%, #e0e0e0d7 50%, #e2e2e296 75%);
  background-size: 200% 200%;
  /* animation: shimmer 1.5s infinite; */
}
.shimmer-effectt {
  background: linear-gradient(-90deg, #f0f0f0 25%, #e0e0e0d7 50%, #e2e2e296 75%);
  background-size: 200% 200%;
  /* animation: shimmer 1.5s infinite; */
  border-radius: 5px;
  border: transparent solid 1px;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-button3{
  min-width: 72px;
  height: 35px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius:3px;
}

