/* @media (min-width: 2000px) and (max-width: 10000px) {
  .sidebar-default {
    position: absolute !important;
    top: 0;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
  }

  body {
    max-width: 2100px !important;
    margin: auto !important;
  }
} */
/** *************************************************************** 
OVERALL LAYOUT
*************************************************************** **/
body {
  /* overflow-x: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: "Work Sans", sans-serif; */
  font-size: 13px !important;
  /* --color-neutral-2: white !important */
}
body::-webkit-scrollbar {
  /* display: none; */
}
.system-container {
  position: relative !important;
  height: auto !important;
}
.overflow-x {
  overflow-x: hidden !important;
}
/* .overflow-x {
  overflow-x: hidden !important;
} */
main.container:not(.web) {
  position: absolute !important;
  padding: 0 !important;
  top: 0;
  right: 0;
  /* left: 232px !important; */
  padding-left: 232px !important;
  padding-right: 0px !important;
  transition: all 0.5s ease !important;
  max-width: 6500px !important;
  /* max-width: 2500px !important; */
  height: auto !important;
}
.main-container {
  /* max-width: 1300px !important; */
  max-width: 1400px !important;
  /* margin: auto !important; */
}
.sidebar-default {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 232px;
  min-width: 232px;
  height: 100%;
  /* min-height: 2000px; */
  /* overflow-y: hidden; */
  color: #000;
  transition: all 0.5s ease !important;
  z-index: 1000;
  background-color: #fafafa !important;
  border-right: 1px solid hsla(0, 0%, 0%, 0.1) !important;
  /* max-height: calc(100vh - 56px); Adjust the value to account for any header or navbar height */
  /* overflow-y: auto; */
}

/* Customize the scrollbar width */
.sidebar-default::-webkit-scrollbar {
  width: 6px;
}

.sidebar-default::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar-default::-webkit-scrollbar-thumb {
  background-color: #c8c5c5;
}

.sidebar-default::-webkit-scrollbar-thumb:hover {
  background-color: #aca7a7;
}
.navbar {
  height: 49px;
  width: 100%;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  /* z-index: 1500; */
  --bs-navbar-padding-x: 0 !important;
  --bs-navbar-padding-y: 0 !important;
}

.navbar-nav {
  /* height: 100%; */
  padding-bottom: 120px;
}
/* .navbar-nav::-webkit-scrollbar {
  scroll-behavior: smooth;
} */

.sidebar-default .navbar-nav::-webkit-scrollbar {
  width: 6px;
}

.sidebar-default .navbar-nav::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.sidebar-default .navbar-nav::-webkit-scrollbar-thumb {
  background-color: #c8c5c5;
}

.sidebar-default .navbar-nav::-webkit-scrollbar-thumb:hover {
  background-color: #aca7a7;
}
.navbar-container {
  height: 49px;
}

.small-modal .modal-dialog {
  max-width: 400px !important;
}
.login-container {
  /* max-width: 500px; */
  max-width: 400px;
}
.a-tag-disable {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.a-tag-disable:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.a-tag-disable1 {
  text-decoration: none;
  color: rgba(0, 0, 0);
}
.a-tag-disable1:hover {
  text-decoration: none;
  color: rgba(0, 0, 0);
}
.a-tag {
}
.a-tag-black,
.a-tag-black:hover {
  color: rgba(0, 0, 0);
}
@media (max-width: 997.98px) {
  .sidebar-default {
    width: 100%;
  }
  .sidebar-default.open {
    left: 0 !important;
  }
  .sidebar-default.closed {
    left: -232px !important;
  }
  /* main.container:not(.web) {
    padding-left: 250px;
    padding-top: 0px;
    max-width: 100%;
    filter: blur(8px);
  } */
  main.container:not(.web) {
    left: 232px !important;
    max-width: 100% !important;
    /* transform: translateX(232px) !important; */
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  main.default-close:not(.web) {
    /* transform: translateX(0px) !important; */
    left: 0 !important;
    transition: all 0.5s ease !important;
  }
  main.container:not(.web)::-webkit-scrollbar {
    display: none;
  }
  body {
    padding-bottom: 90px;
  }
  /* .switch-content {
    position: absolute !important;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 220px !important;
  } */
}
.filter-panel {
  /* display: block;
  position: relative; */
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.5s, transform 0.5s;
}
.filter-panel.open {
  /* height: auto !important; */
  opacity: 1;
  transform: scaleY(1);
}
.filter-panel.f-close {
  position: fixed !important;
  /* display: none ;  */
  /* height: 0 !important; */
}
@media (max-width: 767.98px) {
  .text-truncate-mobile {
    /* overflow: visible;
    text-overflow: ellipsis; */
    white-space: normal !important;
  }
  .scrollmenu::-webkit-scrollbar,
  .nav-tabs::-webkit-scrollbar {
    width: 0 !important;
  }

  .nav-tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow: auto !important;
    white-space: nowrap !important;
  }
  /* div.scrollmenu{
    overflow: auto !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
  } */

  div.scrollmenu {
    overflow: auto !important;
    display: flex !important;
    white-space: nowrap !important;
    padding-right: 10px;
  }
  div.scrollmenu::-webkit-scrollbar {
    max-width: 13px !important;
    height: 5px !important;
  }

  div.scrollmenu::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }

  div.scrollmenu::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
    max-width: 20px !important;
  }

  div.scrollmenu::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* =============================/ */
  div.scrollmenu div {
    display: flex !important;
    align-items: center;
    text-align: center !important;
    padding: 0px 14px 2px 0px;
    /* -webkit-overflow-scrolling: touch !important; */
  }
  .inpage-sidebar a {
    margin: 0 !important;
  }
  .nav-link {
    display: inline-block !important;
    text-align: center !important;
    -webkit-overflow-scrolling: touch !important;
  }
  .overflow-lang {
    max-height: 200px !important;
  }
}
@media (max-width: 575.98px) {
  .hide-xs {
    display: none !important;
  }
  .filter-panel {
    display: block !important;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0px 5px !important;
    transition: all 0.7s ease !important;
    background-color: rgb(240, 240, 240) !important;
    z-index: 10;
  }
  .filter-panel.open {
    bottom: 0% !important;
    transition: all 0.7s ease !important;
  }
  .filter-panel.f-close {
    bottom: -100% !important;
    transition: all 0.7s ease !important;
  }
  .language-dropdown-content {
    top: 100% !important;
    right: 0% !important ;
    transform: translateX(50%) !important;
  }
  .overflow-lang {
    max-height: 200px !important;
  }
}
table {
  max-width: 100%;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

tr:nth-child(odd) {
  background-color: rgba(138, 43, 43, 0.968);
}

tr:nth-child(even) {
  background-color: #ffffff !important;
}

tr:nth-child(odd) {
  background-color: rgba(248, 248, 248, 0.7) !important;
}
tr:hover {
  cursor: pointer;
}

ul li:hover {
  background-color: rgba(140, 140, 140, 0.12);
}
.li-hover:hover {
  background-color: rgba(140, 140, 140, 0.12);
}
.nav-tabs .nav-link {
  border: 0 !important;
  border-radius: 0 !important;
}
.nav-tabs .nav-link {
  border: none;
  color: #393f50 !important;
  /* padding: 0px 10px !important; */
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-weight: 600 !important;
}

.nav-tabs .active {
  background-color: transparent !important;
  color: #f26726 !important;
}
.nav-tabs {
  background: #eeeff0 !important;
  height: 44px;
}
.nav-item {
  display: flex !important;
  align-items: center !important;
}

.nav-item:nth-child(3) .nav-link {
  /* background: #0068cf !important; */
  background: #eeeff0 !important;
  color: #d8deeb !important;
  font-size: 26px;
  font-weight: 300 !important;
  display: none !important;
}
.nav-item:nth-child(4) .nav-link {
  display: none !important;
}
.nav-item:nth-child(5) .nav-link {
  display: none !important;
}
.nav-item:nth-child(6) .nav-link {
  display: none !important;
}
.nav-item:nth-child(7) .nav-link {
  display: none !important;
}
/* .nav-item:nth-child(3) .nav-link:hover,
.nav-item:nth-child(3) .nav-link:active {
  background: #eeeff0 !important;
  cursor: auto;
} */
ul li:nth-child(3):hover {
  background-color: #eeeff0 !important;
}
.nav-item:nth-child(3) .nav-link:hover,
.nav-item:nth-child(3) .nav-link:active {
  background: #eeeff0 !important;
  cursor: auto;
}
.page-heading,
.card-title {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.page-heading-sub {
  margin-bottom: 10px;
}
.active-link {
  color: #f26929 !important;
  background-color: #faece5 !important;
}
.active-link:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
}

.active-link-acc {
  color: #f26929 !important;
  /* font-weight: 752 !important; */
}
@media (max-width: 991.98px) {
  .page-heading-sub {
    display: none;
  }
}

/** *************************************************************** 
INPUTS AND FORM CONTROLS
*************************************************************** **/
.btn,
.form-control,
select {
  font-size: 13px !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
}
.form-control {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
/* .btn{
  border: 2px solid transparent !important;
} */

.btn:focus,
.form-control:focus,
select:focus,
.border-warning {
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
}

.btn {
  /* padding: 7px 30px;
  font-weight: 500; */
  padding: 6px 20px;
  font-weight: 400;
}
.mu-bt .btn {
  /* padding: 7px 30px;
  font-weight: 500; */
  padding: 3px 15px;
  font-weight: 400;
}
.mu-bt .btn:disabled {
  padding: 4px 15px !important;
  font-weight: 400 !important;
}
.btn.smaller-font {
  font-size: 12px !important;
}

.btn:hover,
.btn:focus,
.btn:active {
  opacity: 0.9;
}

.btn-dark:hover,
.btn-dark:focus {
  background: rgba(0, 0, 0, 0.8) !important;
}

.btn-system-white {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.btn-system-white:hover,
.btn-system-white:focus {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.btn-system-primary {
  background-color: #f26726 !important;
  color: white !important;
}
.btn-system-primary:hover {
  background-color: #ff5100 !important;
}

.btn-system-light {
  background-color: #ebebeb;
  color: #000 !important;
}

.btn-system-secondary {
  background-color: rgba(48, 48, 48, 0.2) !important;
}

.notice-input {
  padding-bottom: 10px;
  padding-top: 10px;
}

.system-input-shadow {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.system-control,
.system-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.system-form-control:focus {
  outline: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: #fafafa;
}

textarea.resize-none {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c8c5c5;
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #aca7a7;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 13px !important;
}

#option-button {
  background-color: transparent !important;
}

.form-switch .form-check-input {
  width: 2rem;
  height: 1rem;
  border-radius: 0.75rem;
  border-color: rgba(242, 103, 38, 0.6) !important;
}

.form-switch .form-check-input:focus {
  border-color: rgba(242, 103, 38, 0.6) !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: #f26726;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
select option:disabled {
  color: gray !important;
}

/** Search Boxes **/
.search-box {
  position: relative;
  max-width: 300px;
  width: 100%;
  float: right;
}
.mw-380 {
  max-width: 382px !important;
}
.search-box-side {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.search-box input[type="search"] {
  height: 36px;
  /* padding: 7px 7px 7px 35px !important; */
  padding: 7px 7px 7px 35px !important;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}

input[type="date" i] {
  /* color: #6d6d6d !important; */
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 10px;
}
.search-arrow {
  position: absolute;
  right: 7px;
  top: 16px;
  width: 20px;
  height: 5px;
}

.search-box .header-option {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1px;
  top: 1px;
  border: none !important;
  width: auto;
  height: 34px;
  background: none;
  border-right: 0px;
  padding-right: 30px !important;
  padding-left: 10px !important;
}

.search-box .header-option:hover {
  background-color: rgba(140, 140, 140, 0.15);
}

.form-control,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.system-search {
  padding-right: 100px;
}

#header-search {
  padding-left: 35px !important;
  padding-right: 85px !important;
}
#sidebar-search {
  /* padding-left: 35px !important; */
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.search-dropdown:hover {
  background-color: rgba(140, 140, 140, 0.15) !important;
}

.caption-search {
  max-width: 130px !important;
}

.caption-search::placeholder {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.system-search-control:focus {
  outline: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
@media (max-width: 991.98px) {
  .search-box {
    max-width: none;
  }
  #header-search {
    padding-right: 25px !important;
  }
}

/** *************************************************************** 
COLOURS
*************************************************************** **/

.system-primary {
  background: #f26726;
}

.system-primary:hover,
.system-primary:focus {
  background: rgba(242, 103, 38, 0.9) !important;
  outline: none;
  border: none;
}

.system-black-80 {
  color: rgba(0, 0, 0, 0.8) !important;
}

.system-primary-light {
  background: rgba(242, 103, 38, 0.9);
}

.system-primary-light:hover {
  background: rgba(242, 103, 38, 0.8) !important;
}

.system-outline-primary {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-image: none;
  border-color: #f26726;
}
.system-outline-primary2 {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-image: none;
  border-color: #f26726;
  font-size: 13px !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
  width: 180px;
}

.btn {
  border: 2px solid transparent;
}

.system-outline-primary:hover,
.system-outline-primary:focus {
  background-color: #f26726 !important;
  /* border: 1px solid rgba(242, 103, 38, 0.7) !important;
  outline: none; */
  color: rgba(255, 255, 255, 1) !important;
}

.system-text-primary {
  color: #f26726;
}

.system-text-success {
  color: #05ce78;
}

.system-secondary {
  background: rgba(143, 143, 143, 0.8);
}

.system-secondary {
  background: rgba(143, 143, 143, 0.8);
}

.system-secondary:hover,
.system-secondary:focus {
  background: rgba(143, 143, 143, 0.6) !important;
}

.system-secondary-thin {
  background: rgba(0, 0, 0, 0.1) !important;
}

.system-thin-black {
  background: rgba(0, 0, 0, 0.04);
}

.system-secondary-thin:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.system-secondary-light-thin {
  background: rgba(235, 235, 235, 0.5) !important;
}

.system-secondary-light-thin:hover,
.system-secondary-light-thin:focus {
  background: rgba(235, 235, 235, 0.9) !important;
}

.system-secondary-light:hover,
.system-secondary-light:focus {
  background: rgba(235, 235, 235, 0.4) !important;
}

.system-success {
  background: rgba(5, 206, 120, 1);
}

.system-success-dark {
  color: #05ce78;
}

.system-success-light {
  background-color: rgba(5, 206, 120, 0.1);
}

.system-success:hover,
.system-success:focus {
  background: rgba(5, 206, 120, 0.8) !important;
}

.system-light {
  background: #fafafa;
}

.system-secondary-2 {
  background-color: #f8f8f8;
}

.system-secondary-3 {
  background-color: #e6e6e6;
}

.system-warning-light {
  background-color: #fff7ed;
}

.system-warning-dark {
  background-color: #f8ebdb;
}

.system-danger-light-1 {
  background-color: rgba(242, 103, 38, 0.1);
}

.system-text-dark {
  color: #242323;
}

.system-text-brown {
  color: #545454;
}

.system-text-dark-light {
  background: rgba(0, 0, 0, 0.12);
}

.system-filter-secondary {
  background-color: rgba(217, 217, 217, 0.4);
}
.system-grey {
  background-color: rgba(230, 230, 230, 0.8);
}

.system-danger-light {
  background-color: rgba(255, 0, 0, 0.1);
}

.system-outline-secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.system-icon-secondary {
  color: rgba(0, 0, 0, 0.55);
}

.system-border-secondary {
  color: #e4e4e4;
}
.system-border-warning {
  border-color: rgba(242, 103, 38, 0.5) !important;
}

.system-danger {
  color: #ed6060;
}

.system-text-blue {
  color: #44455c;
}

.system-text-blue-light {
  color: #393f50;
}
.system-text-blue-light1 {
  color: #393f50c6;
}

.system-text-blue-two {
  color: #5e6473;
}

.system-text-blue-two:hover,
.system-text-blue-two:focus {
  color: #5e6473;
}

.system-text-dark-80 {
  color: rgba(3, 3, 3, 0.8);
}

.system-muted-5 {
  color: rgba(0, 0, 0, 0.5);
}

.system-muted {
  color: rgba(0, 0, 0, 0.3);
}
.system-muted1 {
  color: rgba(0, 0, 0, 0.4);
}
.system-muted-2 {
  color: rgba(0, 0, 0, 0.6);
}

.system-muted-dark {
  color: #585858;
}

.system-icon-secondary:hover,
.system-icon-secondary:hover {
  color: rgba(0, 0, 0, 0.55);
}

.system-view-secondary {
  background: #ebebeb;
}

.system-view-secondary:hover {
  background: rgba(235, 235, 235, 0.6);
}

/** *************************************************************** 
UTILITY CLASSES
*************************************************************** **/
.pointer,
li {
  cursor: pointer !important;
}
.move {
  cursor: move !important;
}
.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bottom-fixed {
  position: fixed;
  bottom: 30px;
  width: 100%;
}

.inner-shadow {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.03) !important;
  background: #fafafa;
}
.inner-shadow-default {
  background: #fafafa !important;
  /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05) !important; */
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05) !important;
}
.inner-shadow-default:focus {
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
}
.mt-n10 {
  margin-top: -10px;
}
.filter-content {
  width: 57%;
}
.opac {
  opacity: 0.7;
}

@media (max-width: 991.98px) {
  .mt-n10 {
    margin-top: 0px;
  }
  .filter-content {
    width: 83% !important;
  }
  .dashboard-card {
    max-width: 800px !important;
  }
}
@media (max-width: 575.98px) {
  .filter-content {
    width: 83% !important;
    padding: 0px 0px 0px 10px !important;
  }
}

/** *************************************************************** 
FONTS
*************************************************************** **/
.font-50 {
  font-size: 8px;
}

.font-60 {
  font-size: 9px;
}

.font-70 {
  font-size: 10px;
}

.font-80 {
  font-size: 11px;
}

.font-90 {
  font-size: 12px;
}
.font-100 {
  font-size: 13px;
}

.font-110 {
  font-size: 14px;
}

.font-120 {
  font-size: 15px;
}

.font-130 {
  font-size: 16px;
}

.font-140 {
  font-size: 17px;
}

.font-150 {
  font-size: 18px;
}

.font-160 {
  font-size: 19px;
}

.font-170 {
  font-size: 20px;
}
/* .font-175 {
  font-size: 21px;
} */
.font-180 {
  font-size: 22px;
}

.font-210 {
  font-size: 23px;
}

.font-220 {
  font-size: 24px;
}

.font-thin {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}
.font-normal-over-flow {
  font-weight: 400;
  white-space: nowrap !important;
  overflow: hidden !important ;
  text-overflow: ellipsis !important ;
  max-width: 130px;
}
.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-bolder {
  font-weight: 700;
}
.line-height-3 {
  line-height: 18.77px;
}

.line-height-2 {
  line-height: 23px;
}
/* .fade{
  z-index: 20000 !important;
} */

/** *************************************************************** 
OTHERS
*************************************************************** **/
.display-error {
  font-size: 12px !important;
  color: #dc3545 !important;
  margin: 0;
  width: 100%;
  text-align: center !important;
}

.login-profile-box {
  /* position: absolute; */
  width: 34px;
  height: 34px;
  background: #e6e6e6;
  border-radius: 4px;
  padding: 0 !important;
}
.sidebar-profile-box {
  width: 24px;
  height: 24px;
}
.login-page header,
.login-page sidebar {
  display: none;
}
.bottom-container {
  margin-top: 200px;
  margin-bottom: 20px;
  width: 100%;
}
/* .bottom-container {
  position: fixed;
  bottom: 35px;
  width: 100%;
} */
@media (max-width: 991.98px) {
  .bottom-container {
    margin-top: 120px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  /* .bottom-container {
    position: relative;
    bottom: 0;
    margin-top: 100px;
  } */
  .bottom-container {
    margin-top: 150px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .bottom-container {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.toggle {
  cursor: pointer;
}

.profile-container {
  max-width: 1013px !important;
  border-radius: 8px;
}
@media only screen and (min-width: 1400px) {
  /* .profile-container {
    max-width: 75% !important;
  } */
}

/* .side-width-sidebar {
  width: 203px;
}
.side-width-content {
  width: calc(100%-203px);
} */

@media only screen and (min-width: 1200px) {
  .side-width {
    max-width: 250px;
  }
  .side-width1 {
    max-width: 203px;
    /* width: 203px; */
    /* max-width: 180px; */
    /* min-width: 180px; */
  }
}

@media only screen and (min-width: 1800px) {
  .profile-container {
    max-width: 80% !important;
  }
  .mx-wi {
    max-width: 81% !important;
  }
}
.card:hover {
  /* cursor: pointer; */
}

.dashboard-card {
  /* min-height: 170px; */
  min-width: 195px;
  max-width: 195px;
  min-height: 170px;
  /* max-width: 195px; */
  /* width:195px; */
  /* min-width: 195px; */
}
.first-style .dashboard-card {
  background-color: #fff8ea !important;
}
.last-style .dashboard-card {
  background-color: #fff4f4 !important;
}
.dashboard-card {
  /* min-height: 170px; */
  /* min-width: 165px;
  max-width: 220px; */
}
.d-style .dashboard-card {
  margin-bottom: 5px !important;
}
@media (max-width: 575.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 991.98px) {
  .dashboard-card {
    min-height: 170px;
    min-width: 165px;
    max-width: 220px;
  }
}

.dashboard-card:hover {
  cursor: pointer;
  /* background-color: #fff8ea; */
  background-color: rgba(140, 140, 140, 0.05);
}

.revenue-card {
  /* min-height: 117px; */
  min-height: 80px;
}
.switch-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  height: 49px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.switch-container {
  /* height: 34px !important; */
  height: 49px !important;
  /* border: 1px solid #fafafa; */
}
.h-36 {
  height: 36px !important;
}
/* .switch-container:hover {
  border: 1px solid rgba(242, 103, 38, 0.4) !important;
} */

.switch-content {
  position: absolute !important;
  top: 110% !important;
  left: 56%;
  transform: translateX(-56%);
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  /* width: 250px; */
  width: 215px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.switch-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.switch-content li:hover {
  /* background-color: rgba(242, 103, 38, 0.1) !important;*/
  background-color: rgba(140, 140, 140, 0.12);
  /* color: #f26726 !important; */
}
.active-service-provider {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}
.active-service-provider .switch-ratio {
  color: #000000 !important;
}
.li-disabled {
  pointer-events: none !important;
}
.switch-ratio {
  width: 24px !important;
  aspect-ratio: 1 !important;
}
.user-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  height: 49px !important;
}
.user-dropdown-content {
  position: absolute !important;
  top: 110% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: 255px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.user-dropdown-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.user-dropdown-content li:hover {
  background-color: rgba(140, 140, 140, 0.12) !important;
  /* color: #f26726 !important; */
}
.active-system {
  /* background-color: rgba(242, 103, 38, 0.1) !important; */
  color: #f26726 !important;
}
.language-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  /* height: 49px !important; */
}
.language-dropdown-content {
  position: absolute !important;
  top: 100% !important;
  right: 0%;
  transform: translateX(0%);
  margin: 0;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  width: 255px;
  /* width: 355px; */
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}
.profile-More-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
}
.profile-More-content-normal {
  position: absolute !important;
  top: 60% !important;
  right: 0% !important;
  transform: translateX(10%);
  margin: 0;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #ffffff;
  width: 155px;
  /* width: 203px; */
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}
.profile-More-content {
  position: absolute !important;
  top: 60% !important;
  right: 0% !important;
  transform: translateX(10%);
  margin: 0;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #ffffff;
  /* width: 155px; */
  width: 203px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}
.profile-More-content li,
.profile-More-content-normal li,
.popover-content li {
  height: 30px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px !important;
  margin-bottom: 5px;
}
.profile-More-content li:hover,
.profile-More-content-normal li:hover,
.popover-content li:hover {
  background-color: rgba(140, 140, 140, 0.12);
  /* color: #f26726 !important; */
}
.popover-content {
  list-style: none !important;
}

.mobile-dropdown {
  position: relative !important;
  display: flex;
  align-items: center !important;
  height: 49px !important;
}
.mobile-dropdown-content {
  position: absolute !important;
  top: 100% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: 255px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
.mobile-dropdown-content li {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* margin-bottom: 5px; */
  border-radius: 6px !important;
}
.mobile-dropdown-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}

.option-content {
  padding: 15px;
  position: absolute !important;
  top: 110% !important;
  right: 0% !important;
  transform: translateX(0%);
  margin: 0;
  background-color: #ffffff;
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
}
@media (max-width: 575.98px) {
  .option-content {
    transform: translateX(18%) !important;
    width: 255px;
  }
  .live-cards .live-card-left {
    min-height: auto !important;
    max-height: auto;
  }
  .live-cards .live-card-right {
    min-height: auto !important;
    max-height: auto;
  }
}
.option-content li:hover {
  /* background-color: rgba(242, 103, 38, 0.1) !important; */
  background-color: rgba(140, 140, 140, 0.12);
  /* color: #f26726 !important; */
}

.image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.image-contain {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.header-user-image {
  width: 31px;
  min-width: 31px !important;
  height: 31px !important;
  object-fit: cover !important;
}

.header-notification-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.dashboard-product-icon {
  width: auto !important;
  height: 36px !important;
}

.logo-container {
  width: 100%;
  height: 67px;
  background-color: #fafafa !important;
  /* position: sticky !important;
  bottom: 0 !important; */
}
.sidebar-default .navbar-nav {
  overflow-y: auto !important;
  max-height: 900px;
}
.sidebar-default .navbar-nav::-webkit-scrollbar {
  scroll-behavior: smooth;
}

.table-img {
  height: 52px !important;
  /* height: auto !important; */
  aspect-ratio: 1 !important;
  -webkit-aspect-ratio: 1 !important;
}
.table-image {
  /* max-width: 32px !important; */
  /* height: 52px !important;
  aspect-ratio: 1 !important; */
}
/* .image-t {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
} */
.image-size {
  width: 52px !important;
  height: 52px !important;
}

.main-profile-container {
  width: 114px !important;
  /* min-width: 114px !important; */
  aspect-ratio: 1 !important;
}

.cam-container {
  padding: 4px;
  margin-top: 20px !important;
  margin-right: 0px !important;
  width: 34px !important;
  min-height: 34 !important;
  display: flex;
  aspect-ratio: 1 !important;
}
.ps-alt {
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
}
.profile-photo-container {
  width: 133px !important;
  aspect-ratio: 1 !important;
  border: 2px solid #ffffff;
}
.template-container-small {
  width: 59px !important;
  aspect-ratio: 59/64 !important;
}
.upload-image-container {
  width: 132px !important;
  height: 110px !important;
  aspect-ratio: 132/110 !important;
  border: 2px solid #ffffff;
}
.mx-upload {
  width: 132px !important;
}
.fullmodal-image-container {
  width: 750px !important;
  height: 600px;
  /* height: 1000px !important; */
  aspect-ratio: 750/600 !important;
}

.vedio-icon-position {
  position: absolute !important;
  top: 45px !important;
  left: 55px !important;
}

.delete-photo-container {
  width: 57px !important;
  aspect-ratio: 57/45 !important;
}

.decoration-img-container {
  width: 103px !important;
  padding: 9px !important;
  aspect-ratio: 103/111 !important;
}
.collection-img-container {
  width: 148px !important;
  padding: 9px !important;
  aspect-ratio: 148/161 !important;
}

.header-background-container {
  max-width: 466px !important;
  aspect-ratio: 466/111 !important;
}

.page-background-container {
  max-width: 212px !important;
  aspect-ratio: 212/175 !important;
}

.group-add-container {
  width: 114px !important;
  min-width: 114px !important;
  height: 114px !important;
  aspect-ratio: 1 !important;
}
.group-add-container1:hover {
  background-color: rgba(242, 103, 38, 0.144);
  box-shadow: 0px 4px 4px 0px rgb(255, 255, 255);
}
.group-notice-image-container {
  width: 163px !important;
  aspect-ratio: 163/142 !important;
}
.page-manager-container {
  width: 45px !important;
  aspect-ratio: 1 !important;
}

.group-photo-container {
  width: 132px !important;
  /* aspect-ratio: 132/110 !important; */
  height: 132px !important;
}

.single-notice-img-container {
  width: 180px !important;
  aspect-ratio: 180/221 !important;
}
/* // */

.inpage-sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #393f50;
  font-size: 13px;
  text-decoration: none;
}
.modal-footer > * {
  /* margin: calc(var(--bs-modal-footer-gap) * .5); */
  margin: 0 !important;
}
.modal-footer {
  border-top: 0 !important;
  display: flex;
  justify-content: start;
}
.my-modal-footer {
  display: flex;
  justify-content: flex-start;
}
.my-modal-footer-c button {
  /* background-color: #f26726; */
  /* border: none !important; */
}
.my-modal-footer-c {
  display: flex;
  justify-content: flex-start;
}
.my-modal-footer button {
  background-color: #f26726;
  border: none !important;
}
.my-modal-footer button:hover {
  background-color: rgba(242, 103, 38, 0.9);
  color: white;
  cursor: pointer;
}

.modal-header .close {
  color: red !important;
  background-color: blue;
}
.toast-container {
  /* position: absolute; */
  right: 20px;
}

input[type="text"] {
  font-size: 13px !important;
}

.my-footer-button {
  border: none;
}

.custom-close-button {
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 50%;
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.avoid-overflow-two-lines {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-truncate-mobile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-width: 1601px) {
  .col-30 {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 220px !important;
  }
  .overflow-x {
    overflow-x: visible !important;
  }
  .page-heading-divider {
    margin-left: -250px !important;
    margin-right: -3000px !important;
  }
  main.container:not(.web) {
    overflow-x: hidden;
    top: 49px;
    left: 0;
  }
  .navbar {
    position: fixed !important;
    top: 0;
    right: 0;
    /* left: 232px !important; */
    padding-left: 240px !important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1199.98px) {
  .col-20 {
    width: calc(100% / 5) !important;
    max-width: 220px !important;
  }
  /* .mx-wi{
    max-width: 1100px !important;
  } */
}
@media only screen and (min-width: 1801px) {
  /* Styles for screens larger than 1600px */
  /* Add your styles here */
  /* .page-heading-container{
    display: block !important;
  } */

  .page-header {
    margin-bottom: 15px;
  }
  .ms-a20 {
    margin-left: 20px;
  }
}
/* .col-20 {
  width: calc(100% / 5) ;
  max-width: 220px ;
} */
.switch-providers {
  max-width: 134px;
}
.b-line {
  align-self: flex-start !important;
}
.mx-wi {
  max-width: 1025px;
}
.mt-w {
  margin-top: 2px;
}
.caption {
  max-width: 124px;
}

.hr-width,
.page-heading-divider {
  margin-left: -250px !important;
  margin-right: -200px;
}
/* .hr-width{
  margin-left: -250px !important;
  margin-right: -200px !important;
}
.page-heading-divider {
  margin-left: -250px !important;
  margin-right: -200px !important;
} */
/* .page-heading-divider {
  margin-left: -250px !important;
  margin-right: -3000px !important;
} */

.hr-width-form {
  margin-left: -25px;
  margin-right: -25px;
}

.hr-width-form2 {
  margin-left: -25px;
  margin-right: -50px;
}

/* .hr-width-form3 {
  margin-left: -17px;
  margin-right: -17px;
} */
.fa-eye {
  opacity: 0.7;
}
.password-container {
  position: relative !important;
}
/* Position the eye icon absolute */
.input-group-eye {
  position: absolute;
  right: 13px;
  top: 12px;
  /* top: 10px; */
  background-color: transparent !important;
  border: none !important;
  z-index: 2000;
  cursor: pointer;
}
.input-group-eye:focus {
  background-color: #ffffff !important;
}
/* Position the eye icon absolute */
.pswd-group-eye {
  position: absolute;
  right: 13px;
  top: 12px;
  /* top: 10px; */
  background-color: transparent !important;
  border: none !important;
  /* z-index: 2000; */
  cursor: pointer;
}
.pswd-group-eye:focus {
  background-color: #ffffff !important;
}
.check-button {
  accent-color: #f26726;
  width: 16px;
  min-width: 16px;
  height: 16px;
}
hr {
  color: rgba(0, 0, 0, 0.4) !important;
}
/* loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #05ce78; */
}

.loader {
  /* width: 35px;
  height: 9px; */
  width: 80px;
  height: 7px;
  background-color: #d0d0d0;
  position: relative;
  animation: loader 1s ease-in-out infinite;
  border-radius: 4px;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  width: 17px;
  height: 7px;
  background-color: #707070;
  animation: loader-before 0.7s ease-in infinite;
  border-radius: 4px;
}
.loader-margin {
  margin: 6px 0;
}

@keyframes loader-before {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}
.a-underline {
  text-decoration: none !important;
}
.a-tag:hover {
  color: #f26929;
}

.route-content {
  /* margin-top: 12px;
  margin-bottom: 46px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .overflow-xxx{
  overflow-y: scroll !important;
  max-height: 200px;
} */
.overflow-xx {
  overflow-y: scroll !important;
  max-height: 300px;
}
.overflow-lang {
  overflow-y: scroll !important;
  max-height: 250px;
}

.overflow-xx::-webkit-scrollbar,
.overflow-lang::-webkit-scrollbar {
  width: 6px;
}

.overflow-xx::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

.overflow-xx::-webkit-scrollbar-thumb,
.overflow-lang::-webkit-scrollbar-thumb {
  background-color: #c8c5c5;
}

.overflow-xx::-webkit-scrollbar-thumb:hover,
.overflow-lang::-webkit-scrollbar-thumb:hover {
  background-color: #aca7a7;
}
.placeholder-color {
  color: #b3b3b3;
}
.inline-input {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /* border-bottom: 1px dashed #21202043 !important; */
}
.inline-input2 {
  border: none;
  width: 100%;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
  overflow: hidden;
  /* border-bottom: 1px dashed #21202043 !important; */
}
.no-scrollbar {
  scrollbar-width: none; /* Hide the scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
  }
}
pre {
  border: none;
  width: 100%;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.shimmer-container {
  display: flex;
  align-items: center;
}

.shimmer-text {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.shimmer-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* 
.shimmer-text:first-chil {
  max-width: 600px !important;
}
.shimmer-text:nth-child(2) {
  max-width: 500px;
}
.shimmer-text:nth-child(3)  {
  max-width: 400px;
}
.shimmer-text:last-child {
  max-width: 300px;
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay-container {
  position: relative; /* Add this to make the overlay-container a positioned container */
}
.overlay-content {
  text-align: center;
}
.dot {
  width: 0.7px;
  /* height: 1.5px; */
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
}

.system-green {
  background-color: #05ce7833;
}
.system-light-pink {
  background: #ffe9ec;
}
.live-cards {
  /* display: flex;
  width: 100%;
  gap: 20px; */
}
.live-cards .live-card-left {
  min-height: 130px;
  max-height: 130px;
}
.live-cards .live-card-right {
  min-height: 130px;
  max-height: 130px;
}
.live-card-right ul li:hover {
  background-color: transparent;
}
.live-cards button {
  font-size: 11px !important;
}

@media (max-width: 575.98px) {
  .live-cards {
    display: block;
    width: 100%;
  }
  .live-cards .live-card-left {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .live-cards .live-card-right {
    width: 100%;
  }
}

.lh-15 {
  line-height: 1.5 !important;
}

.upload-Option-dropdown {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
}
.upload-Option-content {
  position: absolute !important;
  top: 0% !important;
  right: 0% !important;
  left: 80% !important;
  transform: translateX(10%);
  transform: translateY(7%);
  margin: 0;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #ffffff;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 110 !important;
  list-style: none;
}

.upload-Option-content li {
  height: 35px !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px !important;
  margin-bottom: 5px;
}
.upload-Option-content li:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
}

/* Custom CSS for the tooltip */
.tooltip-inner {
  background-color: #fdfdfd9d;
  color: #000;
  font-size: 14px;
  /* border: 1px solid #f26726; */
}
/* .gallery {
}
.gallery ul li {
  list-style: none !important;
  margin-left: 0px !important;

}
.gallery ul {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.gallery ul li {
  background-color: #f0f0f0;
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  font-weight: 600;
}
.gallery ul li:nth-last-child(odd):first-child {
  grid-column: 1 / -1 !important;
} */

/* ============================== */
.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 1 0 20%;
  padding: 10px;
  box-sizing: border-box;
}
.max-width-5 {
  max-width: calc(100% / 5);
}

@media (max-width: 768px) {
  .grid-item {
    flex: 1 0 50%;
  }
}
@media (max-width: 575px) {
  .grid-item {
    flex: 1 0 100%;
  }
}
/*-----------------------Auto Multi Fill Start---------------------*/
.suggestion-autocomplete {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 4px;
  overflow-x: scroll;
}
.input-container::-webkit-scrollbar {
  display: none;
}

.selected-option {
  /* background-color: inherit;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
  border: 2px solid #f26726;
  gap: 5px; */
  border: 2px solid #f26726;
}

.suggestion-autocomplete .selected-option {
  border: none !important;
}

.remove-option {
  margin-left: 5px;
  border: none;
  background: transparent;
  color: red;
  cursor: pointer;
}

.form-control-multi {
  border: none;
  flex: 1;
  padding: 4px;
  outline: none;
}

/* //change main to style */
/*----------------------Auto Multi Fill End----------------------*/
.suggestion-autocomplete {
  position: relative;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
  /* max-height: 200px;  */
  overflow-y: auto;
}

.suggestion-options {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

.suggestion-option {
  padding: 8px;
  cursor: pointer;
}

.suggestion-option:hover {
  background-color: #f0f0f0;
}

.suggestion-option.selected {
  background-color: #ccc;
}

.default-option {
  border: 2px solid gray;
}

/*  ---------------------------------------------------------------- Skeleton ----------------------------------------------------s-*/

.shimmer-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.shimmer-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  animation: shimmer-animation 2s infinite;
}

.shimmer-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shimmer-text {
  width: 100%;
  height: 16px; /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  animation: shimmer-animation 2s infinite;
  cursor: default !important;
}

.shimmer-text.short {
  width: 60%;
  cursor: default !important;
}

.shimmer-button {
  min-width: 74.2px;
  height: 34.1px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button1 {
  min-width: 75px;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.mx-w1 {
  max-width: 400px !important;
}
.cursor-default {
  cursor: default !important;
}
.shimmer-effect {
  background: linear-gradient(
    -90deg,
    #f0f0f0 25%,
    #e0e0e0d7 50%,
    #e2e2e2cc 75%
  );
  background-size: 200% 200%;
  animation: skeletonAnimation 1.5s infinite;
  cursor: default !important;
  border: none !important;
  /* background-color: #d7dadb !important; */
}
@keyframes skeletonAnimation {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.list-style-none {
  list-style: none !important;
}
.shimmer-effectt {
  background: linear-gradient(
    -90deg,
    #f0f0f0 25%,
    #e0e0e0d7 50%,
    #e2e2e2cc 75%
  );
  background-size: 200% 200%;
  /* animation: shimmer 1.5s infinite; */
  animation: skeletonAnimation 1.5s infinite;
  border-radius: 5px;
  border: transparent solid 1px;
  cursor: default !important;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-button3 {
  min-width: 72px;
  height: 35px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button4 {
  min-width: 90px;
  height: 35px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button5 {
  width: 0.1rem;
  height: 1px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button6 {
  min-width: 75px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button7 {
  min-width: 98px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}

/* //ddd */

.arco-select-arrow-icon svg {
  font-size: 15px !important;
  color: #000 !important;
}
.arco-select-search-icon svg {
  font-size: 15px !important;
}
.arco-select-clear-icon svg {
  font-size: 15px !important;
}
.arco-notification-wrapper {
  z-index: 10000 !important;
}
.arco-select-size-default.arco-select-multiple input {
  font-size: 13px !important;
  color: #000 !important;
}
.arco-input-tag-input-mirror {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.3) !important;
}
/* .view-t .arco-select-suffix .arco-select-arrow-icon {
  padding-top: 5px !important;
} */
/* .form-control::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 13px !important;
} */
/* .arco-empty{
  display: none;
} */
.arco-empty-image {
  /* display: none; */
}
.arco-empty-description {
  /* display: none; */
}
.mt-tpp {
  z-index: 10000 !important;
  /* width: 1000px !important; */
}

@media (max-width: 767.98px) {
  .arco-notification {
    max-width: 340px;
  }
  .arco-notification-title {
    font-size: 13px !important;
  }
}
@media (max-width: 575px) {
  .arco-notification {
    max-width: 300px;
  }
  .arco-notification-title {
    font-size: 13px !important;
  }
}
.arco-notification-title {
  font-size: 15px !important;
  font-weight: 500 !important;
  /* margin: 0 !important; */
  /* padding: 0 !important; */
}
.arco-notification {
  display: flex;
  position: relative;
  /* width: 340px; */
  width: 400px !important;
  padding: 16px 16px 16px 16px !important;
  /* border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-neutral-3); */
  margin-bottom: 16px !important;
  background-color: var(--color-bg-popup);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
}
.arco-notification-right {
  display: flex !important;
  align-items: center !important;
}
.mt-tpp {
  margin-top: 4px !important;
}
.form-check {
  min-height: 0 !important;
}

.min-h {
  min-height: 110px;
  max-height: 110px;
}
.min-ht {
  min-height: 500px;
  max-height: 500px;
  /* max-height: 110px; */
}
@media (max-width: 767.98px) {
  .min-h {
    min-height: auto !important;
    max-height: auto !important;
  }
  .min-ht {
    min-height: auto !important;
    max-height: auto !important;
  }
}
ul.suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  position: absolute;
  width: auto;
  max-height: 100px;
  overflow-y: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

ul.suggestions li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

ul.suggestions li:hover {
  background-color: #f0f0f0;
}

/* Add this rule to highlight the selected suggestion */
ul.suggestions li.selected {
  background-color: #007bff;
  color: white;
}
.skelton-disable {
  cursor: default !important;
  pointer-events: "none";
}
.skelton-disable tr:hover {
  cursor: default !important;
}
.shimmer-button10 {
  min-width: 100px;
  height: 35px;
  background: linear-gradient(
    -90deg,
    /* #f0f0f0 25%, */ #e0e0e0d7 50%,
    #e2e2e2cc 75%
  );
  border: none;
  border-radius: 5px;
  cursor: default !important;
  pointer-events: none !important;
  animation: skeletonAnimation 1.5s infinite;
}
#message-count {
  font-size: 8px !important;
}
.error-container {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-container .error-code {
  font-size: 100px;
  font-weight: 900;
  color: #fbebe1;
}

.error-container .error-title {
  font-size: 55px;
  margin-top: -40px;
  color: #ccc;
  font-weight: 900;
}

.error-container .error-description {
  font-size: 13px;
}

.error-container a {
  color: #110e0e;
  padding-left: 5px;
}

@media (max-width: 575.98px) {
  .shimmer-button1 {
    min-width: 50px;
    width: 100%;
    height: 30px;
  }
  .error-container {
    height: 65vh;
  }
  .error-container .error-title {
    font-size: 25px;
  }

  .error-container .error-description {
    font-size: 13px;
    text-align: center;
  }
  .error-container a {
    color: #110e0e;
    padding-left: 5px;
  }
}

@media (max-width: 768px) {
  .shimmer-button1 {
    min-width: 80px;
    width: 100%;
    height: 30px;
  }
}

.shimmer-button13 {
  min-width: 95px;
  height: 34px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button14 {
  min-width: 147px;
  height: 33px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button15 {
  min-width: 32px;
  height: 16px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.no-circle {
  width: 25px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 80%;
  background-color: #ffe8c7;
}

/* =============================== */

.multitool-dropdown {
  display: flex !important;
  align-items: center !important;
  z-index: 20000 !important;
}

.arco-trigger {
  /* z-index:20000 !important; */
  /* z-index: 1055 !important; */
  z-index: 1055 !important;
}

.arco-select {
  outline: none !important;
  font-size: 13px !important;
  border-radius: 6px !important;
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #dee2e6;
  padding: 0.11rem !important;
}

/* arco-picker */
.arco-picker {
  outline: none !important;
  font-size: 13px !important;
  border-radius: 6px !important;
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #dee2e6;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  /* padding-right: 0.7rem !important; */
  background-color: #ffffff !important;
}
.arco-picker:hover {
  background-color: #ffffff;
}
.arco-picker .arco-picker-clear-icon {
  display: none;
  font-size: 12px;
  color: var(--color-text-2);
}
.arco-picker:hover {
  background-color: transparent !important;
  border-color: transparent;
}
.arco-picker:not(.arco-picker-disabled):hover .arco-picker-clear-icon {
  display: inline-block;
}
.arco-picker:not(.arco-picker-disabled):hover
  .arco-picker-suffix
  .arco-picker-clear-icon
  + span {
  display: none;
}
.arco-picker-focused {
  box-shadow: 0 0 0 0 var(--color-primary-light-2);
}

.arco-select:focus,
.arco-select:active,
.arco-select::after,
.arco-select-focused {
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
}
.arco-picker:focus,
.arco-picker:active,
.arco-picker::after,
.arco-picker-focused {
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
}

.arco-select-size-default.arco-select-multiple .arco-select-view {
  border-radius: 6px !important;
}
.arco-select-view-value {
  font-weight: 400 !important;
  font-size: 13px !important;
}
.arco-tag-content {
  font-weight: 400 !important;
  font-size: 13px !important;
}
.arco-select-size-default.arco-select-single input {
  /* color: rgba(0, 0, 0, 0.3) !important; */
  font-size: 13px !important;
}

.arco-select .arco-select-view {
  background-color: #ffffff !important;
}
.arco-select .arco-select-view:focus {
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
}

.arco-select .arco-select-view {
  border: none !important;
  background-color: none !important;
}

/* .arco-select:focus, .arco-select:focus{
  border: 2px solid rgba(242, 103, 38, 0.3) !important;
} */
/* .arco-select, .arco-select-multiple, .arco-select-show-search ,.arco-select-size-default ,.select-multi-tool{
  background-color: none !important;
} */
/* .arco-select:hover{
  background-color: none !important;
} */
.arco-select .arco-select-view:focus {
  /* border: 1px solid red; */
  /* border: none !important; */
}
.arco-select.arco-select-focused .arco-select-view {
  /* border: 2px solid rgba(242, 103, 38, 0.3) !important; */
  /* border: none !important; */
  /* color: */
  /* box-shadow */
}
.arco-input-tag-size-default .arco-input-tag-view {
  min-height: 33px !important;
}
.arco-select .arco-select-single {
  min-height: 33px !important;
}

.arco-checkbox {
  display: none !important;
}
/* ================= */

.avatar-container-default {
  min-width: 19px !important;
  width: 29px !important;
  aspect-ratio: 1 !important;
  margin-left: 5px;
}
.avatar-container {
  min-width: 69px !important;
  width: 69px !important;
  aspect-ratio: 1 !important;
  /* margin-left: 5px; */
}
.arco-dropdown-container {
  /* padding: 20px !important; */
  padding: 22px !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
/* .arco-trigger{
  position: relative !important;
} */
.create-arco-custom {
  position: sticky !important;
  width: 100%;
  bottom: 0 !important;
}

.arco-select-popup .arco-select-popup-inner {
  max-height: 250px !important;
  /* max-height: 382px !important; */
}
.arco-select-popup {
  padding: 0px !important;
}
.arco-select-option-wrapper {
  padding: 0 !important;
}
.arco-select-option-wrapper .arco-select-option {
  padding: 0 !important;
}
.single-select-arco-contain {
  padding: 0 !important;
}
.line-height-210 {
  line-height: 21.11px !important;
}
.line-height-150 {
  line-height: 15.25px !important;
}
.line-height-120 {
}
.arco-select-single .avatar-container {
  width: 21px !important;
  aspect-ratio: 1 !important;
  margin-left: 5px;
}

.arco-tag-checked .avatar-container {
  width: 15px !important;
  aspect-ratio: 1 !important;
  margin-left: 0px;
}
/*  ---------------------------------------------------------------- Skeleton ----------------------------------------------------e-*/
.shimmer-button-m {
  /* min-width: 334px; */
  width: 100%;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}

.caption-photos {
  min-height: 12px;
  max-width: 400px !important;
}
.shimmer-effectb {
  background: linear-gradient(
    -90deg,
    #f0f0f0 25%,
    #e0e0e0d7 50%,
    #e2e2e296 75%
  );
  background-size: 200% 200%;
  /* animation: shimmer 1.5s infinite; */
  animation: skeletonAnimation 1.5s infinite;
  border-radius: 5px;
  /* border: transparent solid 1px; */
  cursor: default !important;
  border-radius: 10px;
  width: 33px;
  height: 16.2;
}

.ncr-maxwidth {
  max-width: 220px !important;
}
/* .input-container {
  overflow: e
  max-width: 100%;
} */
.check-button2 {
  accent-color: #f26726;
  width: 25px;
  min-width: 25px;
  height: 25px;
  border-radius: 16px !important;
  align-self: center;
}

/* flag */
.iti {
  width: 100% !important;
}
/* .sound-container {
  width:75% !important;
  height:75% !important;
  object-fit: cover !important;
} */
.shimmer-button16 {
  min-width: 195px;
  height: 33px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button17 {
  min-width: 136px;
  height: 33px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button18 {
  min-width: 130px;
  height: 33px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button19 {
  min-width: 65.6px;
  height: 28.5px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-buttonsm {
  min-width: 30px;
  height: 28.5px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.arco-trigger-position-bl1 {
  top: 314px !important;
}
.arco-trigger-position-ble {
  top: 235px !important;
}
.arco-progress-is-success .arco-icon {
  color: #f26826 !important;
}
.arco-progress-is-error .arco-icon {
  color: #f26826 !important;
}
.arco-icon-loading {
  color: #f26826 !important;
  animation: arco-loading-circle 3s infinite cubic-bezier(0, 0, 1, 1);
}
.arco-icon {
  vertical-align: -3px !important;
}
.image-container {
  position: relative;
  display: inline-block;
  height: 400;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shimmer-button20 {
  min-width: 80px;
  /* width:100%; */
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button21 {
  min-width: 133px;
  /* width:100%; */
  height: 33px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}

.arco-dropdown .arco-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0; /* Align the left edge of the dropdown with the select input */
  width: 100%; /* Make the dropdown as wide as the select input */
  z-index: 1000; /* Ensure it's above other elements */
}

.modal-content {
  /* background-color: #05ce78 !important; */
}
.arco-trigger,
.arco-trigger-position-bottom {
  /* background-color: #dc3545 !important; */
  position: absolute !important;
}
.arco-trigger,
.arco-trigger-position-bottom,
.arco-trigger-position-top {
  /* background-color: #dc3545 !important; */
  position: absolute !important;
}
.ovt-x {
  overflow: hidden;
}

.arco-picker-cell-selected .arco-picker-date-value,
.arco-picker-cell-selected:hover .arco-picker-date-value {
  /* color: var(--color-white);
  background-color: rgb(var(--primary-6)); */
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
  transition: background-color 0.1s cubic-bezier(0, 0, 1, 1);
}
.arco-link {
  color: #f26726 !important;
}

.arco-picker-cell-today::after {
  background-color: rgb(255, 145, 0) !important;
}

.grid-container-m {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
  justify-content: space-evenly;
  /* gap: 35px; */
}
.place-group-eye {
  position: absolute;
  right: 4px;
  top: 4px;
  /* top: 10px; */
  background-color: transparent !important;
  border: none !important;
  /* z-index: 2000; */
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.ofl {
  padding-right: 30px !important ;
}
.popup-p {
  /* box-sizing: border-box; */
  padding: 4px 0;
  border: 1px solid var(--color-fill-3);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-bg-popup);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.place-group-plus {
  position: absolute;
  right: 65px;
  top: 10px;
  background-color: transparent !important;
  border: none !important;
  /* cursor: pointer; */
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.arco-pagination-item-prev {
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
  padding: 0px 20px;
  height: 34px !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.arco-pagination-item-prev a,
.arco-pagination-item-next a {
  text-decoration: none !important;
  color: #000 !important;
}
.arco-pagination-item-next {
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
  padding: 0px 20px;
  height: 34px !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575.98px) {
  .arco-pagination-item-prev {
    padding: 0px 6px;
    font-size: 12px !important;
    margin: 0 !important;
  }
  .arco-pagination-item-next {
    padding: 0px 6px;
    font-size: 12px !important;
    margin: 0 !important;
  }
  .arco-pagination-item {
    font-size: 12px !important;
    min-width: 15px !important;
    margin: 0px 3px !important;
  }
}
.custom-single-date-arco select {
  border: none !important;
}
.custom-single-date-arco select:hover,
.custom-single-date-arco select:focus,
.custom-single-date-arco select:active {
  border: none !important;
}
.custom-trigger {
  position: absolute;
  display: initial;
  /* pointer-events: auto; */
  /* top: 253.3px;
    left: 40px; */
  /* transform-origin: 0% 0%; */
}
.days-arco-picker-dropdown {
  position: absolute !important;
  top: 100% !important;
  right: 0% !important;
  transform: translateX(0%);
  transform: translateY(1%);
  margin: 0;
  background-color: #ffffff;
  width: 210px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100 !important;
  list-style: none;
  padding: 10px;
}
.arco-panel-day {
}
.arco-panel-day div {
  padding: 5px 10px;
  border-radius: 5px;
}
.arco-panel-day div:hover {
  background-color: rgba(140, 140, 140, 0.12);
}
.customPenCursor {
  cursor: url("https://img.icons8.com/material-rounded/15/pencil--v2.png") 0 50,
    auto;
}
.sms .col-D {
  min-width: 60px;
  width: 60px;
}
.sms .col-M {
  min-width: 71px;
  width: 71px;
}
.sms .col-Y {
  min-width: 74px;
  width: 74px;
}
.col-D {
  min-width: 68px;
  width: 61px !important;
}
.col-M {
  min-width: 71px;
  width: 101px !important;
  /* margin-right: 4px;
  margin-left: 4px; */
}
.col-Y {
  min-width: 74px;
  width: 74px !important;
}
.no-wrap {
  text-wrap: nowrap;
}
@media (max-width: 768px) {
  .sms .col-D,
  .sms .col-M,
  .sms .col-Y {
    width: 26%;
    min-width: 0;
  }
  .col-D,
  .col-M,
  .col-Y {
    width: 32%;
    min-width: 0;
  }
}

@media (max-width: 764px) {
  .col-D {
    width: 30%;
  }
  .sms .col-D {
    width: 24% !important;
  }
}
@media (max-width:764px) {
  .col-M {
    width: 32%;
  }
  .sms .col-M {
    width: 40% !important;
  }
}
@media (max-width:764px) {
  .col-Y {
    width: 34%;
  }
  .sms .col-Y {
    width: 32% !important;
  }
}
@media (max-width: 320px) {
  .sms .col-D {
    width: 65px !important;
    min-width: 0;
    margin-right: 3px !important;
  }
  .sms .col-M {
    width: 101px !important;
    min-width: 0;
    margin-right: 3px !important;
  }
  .sms .col-Y {
    width: 62px !important;
    min-width: 0;
  }
}
.system-filter:hover {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
  border: none !important;
}
.system-filter {
  background: rgba(0, 0, 0, 0.12);
  border: none;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 13px !important;
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
}
.font-normal-over-flow-f {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.system-filter2 {
  background-color: rgba(242, 103, 38, 0.1) !important;
  color: #f26726 !important;
  border: none !important;
}

.z-front .modal {
  z-index: 30000 !important;
}

.z-front .modal {
  z-index: 30000 !important;
}

/* .arco-select-arrow-icon svg{
  stroke: currentColor;
    fill: black !important;
  
} */
.music-tab {
  white-space: nowrap;
  min-width: 140px;
  max-width: 140px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* .overflowx-scroll {
  overflow-x: scroll;
} */
@media (max-width: 576px) {
  .overflowx-scroll {
    overflow-x: scroll;
  }
}
.shimmer-button22 {
  min-width: 93px;
  height: 31px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.arco-select-arrow-icon svg,
.arco-select-search-icon svg {
  cursor: pointer;
}
::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 13px !important;
}
.text-danger {
  color: red !important;
}
.c-font-publish {
  font-weight: 752;
  font-size: 13px !important;
}

.success-publish-msg {
  color: rgba(5, 206, 120, 1) !important;
  font-size: 20px !important;
  font-weight: 752;
}
.success-publish-txt {
  color: rgba(0, 0, 0, 1) !important;
  font-size: 12px !important;
  font-weight: 400;
}

.black-radio input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.black-radio input[type="radio"]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

.black-radio input[type="radio"]:checked::before {
  transform: scale(1);
}

.custom-size {
  --bs-modal-width: 421px !important;
}
.modal {
  --bs-modal-width: 512px !important;
}
.custom-size-2 {
  --bs-modal-width: 504px !important;
}
.custom-size-3 {
  --bs-modal-width: 580px !important;
}
.system-danger-select {
  border: 2px solid #f3804e !important;
  /* color: #F3804E; */
}
.grid-container-p {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 22.5px;
}
@media (max-width: 768px) {
  .grid-container-p {
    gap: 27px;
  }
}
@media (max-width: 576px) {
  .grid-container-p {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
  }
  .group-photo-container-p {
    width: 100% !important;
    aspect-ratio: 132/110 !important;
  }
}
.group-photo-container-p {
  width: 132px;
  aspect-ratio: 132/110 !important;
}

/* .arco-select-popup .arco-select-option {

  font-size: 12px;


} */

.date-picker .arco-select-size-default.arco-select-single .arco-select-view {
  padding: 0 2px 0 3px !important;
}
.p-info .col-D {
  width: 77px !important;
  min-width: 0;
  margin-right: 6px !important;
}
.p-info .col-M {
  width: 101px !important;
  min-width: 0;
  margin-right: 6px !important;
}
.p-info .col-Y {
  width: 84px !important;
  min-width: 0;
}
@media (max-width: 576px) {
  .p-info .col-D {
    width: 60px !important;
    min-width: 0;
    margin-right: 6px !important;
  }
  .p-info .col-M {
    width: 101px !important;
    min-width: 0;
    margin-right: 6px !important;
  }
  .p-info .col-Y {
    width: 70px !important;
    min-width: 0;
  }
}
@media (max-width: 320px) {
  .p-info .col-D {
    width: 50px !important;
    min-width: 0;
    margin-right: 6px !important;
  }
  .p-info .col-M {
    width: 101px !important;
    min-width: 0;
    margin-right: 6px !important;
  }
  .p-info .col-Y {
    width: 62px !important;
    min-width: 0;
  }
}

.p-info {
  justify-content: left !important;
}
.arco-picker-cell-disabled .arco-picker-date {
  background-color: var(--color-fill-1);
  cursor: default !important;
}
/* .arco-select-popup .arco-select-option {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.arco-select-popup .arco-select-option-selected {
  color: var(--color-text-1);
  background-color: var(--color-bg-popup);
  font-weight: 500 !important;
} */
.notiede .arco-select-view-value {
  font-weight: 600 !important;
}
/* .modal-footer, .modal-body{
  padding-left: 32px !important;
  padding-right: 32px !important;
} */
.arco-radio-button-inner {
  font-weight: 500;
  font-size: 12px !important;
  font-family: "Work Sans", sans-serif;
  color: black;
  padding: 0px !important;
}
/* .vertical-separator {
  border-right: 1px solid #000; 
  height: 28px; 
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle; } */
.arco-picker-disabled input[disabled],
.arco-picker-disabled:hover input[disabled] {
  cursor: default !important;
}
.arco-picker-disabled,
.arco-picker-disabled:hover {
  cursor: default !important;
}
/* .b-border{
  border-bottom: #f26726 solid 2px;
} */
.evnt-time .arco-btn-primary {
  background-color: #f26726 !important;
  /* border-radius: 4px !important; */
}
/* .evnt-time .arco-btn-primary.arco-btn-disabled {
cursor: default;
} */
/* .arco-btn-primary:hover{
  background-color: #f26726 !important;

}
.arco-btn-primary {
  background-color: #f26726 !important;
   border-radius: 4px !important; 
} */
.grp-select .arco-btn-primary {
  background-color: transparent !important;
  color: #f26726 !important;
  /* border: 1px solid #f26726  !important; */
  /* border-radius: 4px !important; */
}
.grp-select .arco-btn-primary:hover {
  color: white !important;
  background-color: #f26726 !important;
  /* border-radius: 4px !important; */
}

.grp-select .arco-btn-size-default {
  /* height: 29.5px; */
}
.grp-select .arco-btn-size-default.arco-btn-icon-only {
  /* height: 29.5px; */
}
/* .grp-select .arco-btn-group :hover {
  background-color: #f26726 !important;
  color: white !important;
  cursor: pointer;
} */
.arco-drop-down-font {
  font-weight: 500;
  /* font-size: 13px !important; */
  font-family: "Work Sans", sans-serif;
}

.bg-grey-100 {
  background-color: #d9d9d9;
}

.no-banner {
  min-height: 202px;
}
.event-disabled {
  pointer-events: none !important;
}

.evnt .arco-picker input {
  padding-left: 2px !important;
  font-size: 13px !important;
}
.evnt .arco-picker-suffix {
  margin-left: 0 !important;
  width: 5px !important;
  margin-right: 4px !important;
}
.evnt .arco-picker {
  padding-left: 5px !important;
}
.evnt input::placeholder {
  font-size: 12px !important;
}

.system-grey-200 {
  background-color: #d9d9d966;
}
.system-oneside-primary {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-image: none;
  border-color: #f26726;
  border-left: none !important;
}

.arco-tabs-header-nav-line.arco-tabs-header-nav-vertical
  .arco-tabs-header-title {
  padding: 0 100px 0px 5px !important;
}
.arco-tabs-header-nav-line.arco-tabs-header-nav-vertical
  .arco-tabs-header-title:hover {
  background: transparent !important;
}

.arco-tabs-header-nav-line .arco-tabs-header-title-text {
  display: inline-block;
  position: relative;
  font-weight: 500 !important;
  font-size: 18px !important;
  /* color: #000000; */
}
.arco-tabs-header-title {
  color: #000000 !important;
}

.arco-tabs-header-nav-line .arco-tabs-header-title-text:hover {
  /* background: rgb(0, 106, 255) !important; */
}

.arco-tabs-header-title-active {
  color: #f26929 !important;
}
.arco-tabs-header-title {
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  /* color: var(--color-text-2); */
  /* color: black !important; */
  transition: color 0.2s cubic-bezier(0, 0, 1, 1);
  display: inline-flex;
  align-items: center;
  line-height: 1.5715;
  padding: 4px 0;
}

.arco-tabs-header-ink {
  background-color: #f26929 !important;
  display: none !important;
}

.arco-tabs-header-nav-vertical::before {
  position: absolute;
  left: initial;
  bottom: 0;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  clear: both;
  display: none !important;
}
.arco-tabs-header-nav::before {
  content: "";
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-neutral-3);
  display: block;
}

.collection-container {
  position: relative;
}
.select-template-button {
  width: 80%;
  position: absolute !important;
  bottom: 8% !important;
  left: 50%;
  transform: translateX(-50%);
  background: #f26726;
  border: transparent;
  min-height: 37px !important;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.select-template-button:hover,
.select-template-button:focus {
  background: rgb(246, 125, 69) !important;
  outline: none;
  border: transparent;
}

.collection-container:hover .select-template-button {
  opacity: 1;
}
.collection-container:hover .collection-img-container {
  opacity: 0.5;
}
.collection-container .selected-item {
  border: 1px solid #f26726 !important;
}
.collection-container .selected-item-button {
  display: none;
}
textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  vertical-align: bottom;
  outline: none;
}
.status-bar {
  text-align: right;
  width: 100%;
  border-radius: 0 0 0.25em 0.25em;
}

.system-red-light-500 {
  background-color: rgba(255, 184, 150, 0.5) !important;
}
/* @media (max-width: 320px) {
  .c-modal-title {
    width: 250px !important;
  }
} */
@media (max-width: 345px) {
  .c-modal-title {
    width: 250px !important;
  }
}
@media (max-width: 376px) {
  .c-modal-title {
    width: 320px;
  }
}
.lang-title-color {
  color: #5e6473;
}
.arco-timepicker-cell-inner {
  text-transform: lowercase;
}
.arco-picker-start-time {
  /* text-transform: lowercase; */
}
.arco-picker-end-time {
  text-transform: lowercase;
}
.shimmer-button23 {
  min-width: 70px;
  /* width:100%; */
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}

@media (max-width: 575.98px) {
  .mu-name {
    max-width: 550px !important;
  }
}
.avoid-overflow-three-lines {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.grp-select .arco-btn-group .arco-btn-primary:not(:last-child) {
  border-right: 1px #f26726 solid;
}
.system-twoside-primary {
  border: 1px solid #f26726 !important;
  color: #f26726;
  background-color: white !important;
  border-color: #f26726;
  border-radius: 3px !important;
}

.arco-tabs-header-title-active,
.arco-tabs-header-title-active:hover {
  /* color: rgb(var(--primary-6)); */
  color: #f26726 !important;
  font-weight: 500;
}
.line-height-14 {
  line-height: 14.93px !important;
}

.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}
.music-dropdown {
  width: 185px;
  /* height: 34px; */
}
.shimmer-button24 {
  min-width: 133px;
  /* width:100%; */
  height: 34px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button13-2 {
  min-width: 55px;
  height: 32px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.shimmer-button14-2 {
  min-width: 107px;
  height: 33px;
  background-color: rgba(218, 213, 213, 0.305); /* Shimmer color */
  border: none;
  border-radius: 3px;
  cursor: default !important;
}
.grey-600 {
  background-color: rgba(217, 217, 217, 0.3);
}
.conform-color {
  color: rgba(229, 36, 36, 1);
  font-weight: 400;
}
.yes-delete-it {
  color: rgba(242, 103, 38, 1);
}
.notices-id {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.55);
}
.shimmer-button25 {
  min-width: 144px;
  /* width:100%; */
  height: 33px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button26 {
  min-width: 64px;
  /* width:100%; */
  height: 33px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button25-2 {
  min-width: 110px;
  /* width:100%; */
  height: 34.4px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.shimmer-button26-2 {
  min-width: 33px;
  /* width:100%; */
  height: 34.4px;
  background-color: rgba(0, 0, 0, 0.1); /* Shimmer color */
  border: none;
  border-radius: 5px;
  cursor: default !important;
}
.upper-modal .modal-backdrop {
  --bs-backdrop-zindex: 1065 !important;
}
.modal {
  --bs-modal-zindex: 1050;
}
.enableColor {
  color: rgba(5, 206, 120, 1) !important;
}
.disableColor {
  color: red !important;
}
.page-arco .arco-trigger {
  z-index: 10 !important;
}
.arco-dropdown {
  z-index: 10 !important;
}
.custom-dropdown {
  z-index: 10 !important;
}
.custom-alert {
  min-height: 50px;
  display: flex;
  background-color: #faece5;
  color: #f26929;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.custom-alertwrong {
  min-height: 50px;
  display: flex;
  background-color: #faece5;
  color: #f26929;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.arco-pagination-item-active {
  color: rgba(0, 0, 0, 1) !important;
  background-color: rgba(217, 217, 217, 1) !important;
  border-color: transparent;
  padding: 0 11px;
  font-weight: 742 !important;
}
